{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Информация о рецепте</h1>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Клиент:</strong> {{ recipe.client }}</p>
            <p><strong>Медикамент:</strong> {{ recipe.medicament.name }}</p>
            <p><strong>Дозировка:</strong> {{ recipe.dosage }}</p>
            <p><strong>Продолжительность приема:</strong> {{ recipe.duration }} дней</p>
            <div style="display: flex;">
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Подтвердить</button>
              </form>
              <button class="btn btn-danger" style="margin-left: 10px"> 
                  <a href="{% url 'pharmacist_order_items' order_item.order.pk %}">Назад</a>
              </button>
            </div>
        </div>
        <div class="col-md-6">
            <p><strong>Код рецепта:</strong> {{ recipe.code }}</p>
            <p><strong>Дата создания:</strong> {{ recipe.expiration_date }}</p>
        </div>
    </div>
  </div>
{% endblock %}
